<div class='nav'>
    <div class="outlinesNav navItem selected">&nbsp;</div>
    <div class="thumbnailsNav navItem">&nbsp;</div>
</div>
<div class='strippets-container'>
    <div class='outlines-panel'></div>
    <div class='thumbnails-panel'></div>
</div>