<div class='nav'>
    <div id="outlinesNav" class="navItem selected">&nbsp;</div>
    <div id="thumbnailsNav" class="navItem">&nbsp;</div>
</div>
<div id='strippets-container'>
    <div id='outlines-panel'></div>
    <div id='thumbnails-panel'></div>
</div>